<div class="comments">
    {{#each this}}
    <section class="comment ">
        <div class="meta border border-info mb-4 mt-4 mx-2 rounded border border-2 bg-white">
            <span class="text-warning"><u>{{user.username}}</u></span> |
            <span class="text-end">{{format_date created_at}}</span>
            |
            {{comment_text}}
            
        </div>
        {{!-- <div class="text" id="comment"> --}}
            
        {{!-- </div> --}}
    </section>
    {{/each}}
</div>