<section>
    <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
            <div class="px-2">
                <h3>Add New Post</h3>

                <form class="new-post-form">
                    <div class="mb-3 text-center">
                        <label for="post-title" class="form-label fs-4">Title</label>
                        <input type="text" id="post-title" name="post-title" class="shadow form-control"/>
                    </div>
                    <div class="mb-3 text-center" for="post-content">
                        <label for="post-content" class="form-label fs-4 align-top">Content</label>
                        <textarea name="post-content" class=" shadow post-body form-control" rows="3"></textarea>
                    </div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary">Create New Post </button>
                    </div>                    
                    <div id="noPostorTitleEntered" class='alert alert-danger mt-2' role='alert'>
                        You shouldn't add a post without content or a title- that defeats the whole point!
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="/javascript/add-post.js"></script>