<article class="post border border-info mb-4 mt-4 rounded border border-2 bg-white">
    <div class="title mb-2">
        <a href="/dashboard/edit/{{id}}" class="text-decoration-none fs-4" id="title"><strong>{{title}}</strong></a>
        
    </div>
    <div class="content">
        <p id="content" class="fs-5">{{post_content}}</p>
        <p class="user text-center">Posted on {{format_date created_at}}</p>
    </div>
</article>