<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC-Tech-Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" class="rel">
</head>
<body>    
    <header>    
        <nav>
            <a href="/">MVC Tech-Blog</a> 
            {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>                            
            <a id="logout">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        
        </nav>
    </header
    >
    <main>
        {{{ body }}}
    </main>

    <footer>
        MVC - Tech - Blog © Gintautas Stirbys, 2021 ♥
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>