  

{{#if posts.length}}
<section>
  <h2>Your Posts <br> (click title to edit post) </h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-edit post}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
<a href="/dashboard/create-post"><button class="create-btn">Create Post</button></a>