  

{{#if posts.length}}
<section>
  <p class="text-center fs-3">Your Posts | click title to edit post <p>
  <ul class="list-unstyled mx-2 my-2">
    {{#each posts as |post|}}
    <li>
      {{> post-edit post}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
<div class="col text-center">
  {{!-- <a href="/dashboard/create-post"><button class="create-btn btn btn-primary">Create New Post + </button></a> --}}
  {{> create-post }}
</div>
