<div class="container-fluid full-height">
    <div class="row">
        <div class="col-sm-6">            
            <form  class="login-form mt-5 mb-5 mx-2">
                <h5 class="text-center">Login</h5>
                <div class="form-group">
                    <label for="email-login">Email</label>
                    <input type="email"  class="shadow form-control" id="email-login" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <label for="password-login">Password</label>
                    <input type="password" class="shadow form-control" id="password-login" placeholder="Password"/>
                </div>
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary mt-3">Login</button>
                </div>
                <div id='noLoginAttempt' class='alert alert-danger' role='alert'>
                    Please enter your User Email and Password to Login!
                </div>
                <div id='badLoginAttempt' class='alert alert-danger' role='alert'>
                    Your email and/or password were not recognized, please try again!
                </div>
            </form>                
        </div>
        <br>
        <br>    
        <div class="col-sm-6">            
            <form  class="signup-form mt-5 mb-5 mx-2">
                <h5 class="text-center">Signup</h5>
                <div class="form-group">
                    <label for="username-signup">Username</label>
                    <input type="text" class="shadow form-control" id="username-signup" placeholder="Username"/>
                </div>
                <div class="form-group">
                    <label for="email-signup">Email</label>
                    <input type="text" class="shadow form-control" id="email-signup" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <label for="password-login">Password</label>
                    <input type="text" class="shadow form-control" id="password-signup" placeholder="Password"/>
                </div>
                <div class="col text-center mt-3">
                    <button type="submit" class="btn btn-primary">Signup</button>
                </div>
            </form>            
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="/javascript/login.js"></script>
